<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova_plugin_multiplefilechooser" version="1.0.0">
   <name>MultipleFileChooser</name>
   <js-module name="MultipleFileChooser" src="www/MultipleFileChooser.js">
      <clobbers target="cordova.plugins.MultipleFileChooser" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="MultipleFileChooser">
            <param name="android-package" value="cordova_plugin_multiplefilechooser.MultipleFileChooser" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/MultipleFileChooser.java" target-dir="src/cordova_plugin_multiplefilechooser/MultipleFileChooser" />
   </platform>
</plugin>